cloud_id                 = "b1g44444444444444431"
folder_id                = "b133333333333333333n"
zone                     = "ru-central1-a"
image_id                 = "fd22222222222222222h"
public_key_path          = "~/.ssh/ubuntu.pub"
subnet_id                = "e111111111111111111t"
service_key_file         = "terrafkey.json"
private_key              = "~/.ssh/ubuntu"
app_disk_image           = "fd************2dhbah"
db_disk_image            = "f****************bsh"
