cloud_id                 = "b4444444444444444431"
folder_id                = "b33333333333333333mn"
zone                     = "ru-central1-a"
image_id                 = "fd2222222222222222ah"
public_key_path          = "~/.ssh/ubuntu.pub"
subnet_id                = "e11111111111111111gt"
service_key_file         = "terrafkey.json"
private_key              = "~/.ssh/ubuntu"
app_disk_image           = "fd***************8*ah"
db_disk_image            = "fd******************h"
